:root {
  --primary-color: #5ab450;
  --primary-color-pale: hsl(114, 40%, 81%);
  --secondary-color: #316dd9;
  --secondary-color-darker: #183975;
  --light-green-background: #f9fbf7;
  --primary-font-color: #111;
  --lighter-font-color: hsl(0, 0%, 27%);
  --dark-grey: hsl(0, 0%, 92%);
  --main-bg-color: #fff;
  --black-bg: #111;
  --white-bg: #fff;
  --warning: #f72020;
  --grey: #fafafa;
  --font-size: 1.8rem;
  --comment-font: 1.4rem;
  --comment-smaller-font: 1.2rem;
  --smaller-font-size: 1.5rem;
  --bigger-font-size: 2rem;
  --larger-font-size: 2.5rem;
  --nav-item-font-size: 2.3rem;
  --logo-footer-size: 2.8rem;
  --main-title-size: 2.5rem;
}

@media (min-width: 992px) {
  :root {
    --logo-footer-size: 3.5rem;
    --main-title-size: 3rem;
  }
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

textarea {
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  background-color: var(--main-bg-color);
  color: var(--primary-font-color);
}

button {
  background-color: transparent;
  border: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.no-scroll-all {
  overflow: hidden;
  height: 100vh;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1rem;
  width: 94%;
  max-width: 1300px;
}

.primary-btn,
.secondary-btn {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.primary-btn {
  background-color: var(--primary-color);
  color: var(--white-bg);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.primary-btn:hover {
  background-color: #409037;
}

.secondary-btn {
  background-color: var(--secondary-color);
  color: var(--white-bg);
}
.secondary-btn:hover {
  background-color: #0a51d5;
}

.alert {
  display: none;
  position: fixed;
  background-color: var(--secondary-color);
  padding: 1.5rem;
  z-index: 10;
  bottom: 0;
  width: 100%;
}
.alert__text {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}
.alert::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--secondary-color-darker);
  bottom: 0;
  left: 0;
  -webkit-transition: scale 0.3s;
  transition: scale 0.3s;
  -webkit-transform-origin: left;
          transform-origin: left;
  scale: var(--scale-alert) 1;
}

.profile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 60%;
  border: 2px solid var(--black-bg);
}
.profile-box .profile-photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.close-btn {
  position: relative;
  padding: 0.75rem;
  padding-right: 0;
  cursor: pointer;
}
.close-btn__box {
  position: relative;
  width: 3rem;
  height: 2rem;
  pointer-events: none;
}
.close-btn__inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.close-btn__inner::after, .close-btn__inner::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--black-bg);
  -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
  transition: -webkit-transform 0.2s 0.2s ease-in-out;
  transition: transform 0.2s 0.2s ease-in-out;
  transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
}
.close-btn__inner::after {
  top: -1rem;
  -webkit-transform: translateY(1rem) rotate(45deg);
          transform: translateY(1rem) rotate(45deg);
}
.close-btn__inner::before {
  top: 1rem;
  -webkit-transform: translateY(-1rem) rotate(-45deg);
          transform: translateY(-1rem) rotate(-45deg);
}

.bg-shadow {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 992px) {
  body.no-scroll {
    overflow: hidden;
  }
}
.nav {
  top: 0;
  position: sticky;
  z-index: 10;
  padding: 1.5rem 0;
  background-color: var(--black-bg);
  font-size: var(--font-size);
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .logo-box .logo-icon {
  width: 80px;
}
.nav .logo-name {
  position: relative;
  z-index: 10;
  color: white;
  font-weight: 600;
}
.nav .logo-name .other-color {
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--black-bg);
}
.nav .ham-btn {
  position: relative;
  z-index: 10;
  padding: 0.75rem;
  cursor: pointer;
}
.nav .ham-btn__box {
  position: relative;
  width: 3.4rem;
  height: 2.4rem;
  pointer-events: none;
}
.nav .ham-btn__inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--white-bg);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.1s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
  transition: background-color 0.1s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
  transition: background-color 0.1s 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out;
  transition: background-color 0.1s 0.2s ease-in-out, transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
}
.nav .ham-btn__inner::after, .nav .ham-btn__inner::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--white-bg);
  -webkit-transition: -webkit-transform 0.2s 0.2s ease-in-out;
  transition: -webkit-transform 0.2s 0.2s ease-in-out;
  transition: transform 0.2s 0.2s ease-in-out;
  transition: transform 0.2s 0.2s ease-in-out, -webkit-transform 0.2s 0.2s ease-in-out;
}
.nav .ham-btn__inner::after {
  top: -1rem;
}
.nav .ham-btn__inner::before {
  top: 1rem;
}
.nav .ham-btn.active .ham-btn__inner {
  background-color: transparent;
}
.nav .ham-btn.active .ham-btn__inner::after {
  -webkit-transform: translateY(1rem) rotate(45deg);
          transform: translateY(1rem) rotate(45deg);
}
.nav .ham-btn.active .ham-btn__inner::before {
  -webkit-transform: translateY(-1rem) rotate(-45deg);
          transform: translateY(-1rem) rotate(-45deg);
}
.nav__items {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding: 20rem 4rem;
  background-color: var(--black-bg);
  height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.nav__item {
  position: relative;
  color: var(--white-bg);
  font-size: var(--nav-item-font-size);
}
.nav__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.nav__item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav .button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  margin-top: 4rem;
}
.nav__button {
  padding: 1.5rem 0;
  width: 150px;
  border-radius: 4px;
  font-weight: 500;
  font-size: var(--smaller-font-size);
  text-align: center;
}
.nav__items.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 992px) {
  .nav .ham-btn {
    display: none;
  }
  .nav__items {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav__item {
    font-size: var(--font-size);
  }
  .nav .button-box {
    margin: 0;
    gap: 1.75rem;
  }
  .nav__button {
    padding: 1.25rem 0;
    width: 140px;
  }
}
@media (min-width: 1400px) {
  .nav__items {
    gap: 3rem;
  }
}
.footer {
  padding: 5rem 0 2rem;
  background-color: var(--black-bg);
  font-size: var(--font-size);
}
.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}
.footer .logo-name {
  color: white;
  font-weight: 600;
  font-size: var(--logo-footer-size);
}
.footer .logo-name .other-color {
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--black-bg);
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  margin-top: 2rem;
}
.footer__item {
  position: relative;
  color: var(--white-bg);
}
.footer__item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.footer__item:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.footer__social-media {
  text-align: center;
}
.footer__social-media .section-title {
  margin-bottom: 2rem;
  color: var(--white-bg);
  font-size: var(--font-size);
}
.footer__social-media-link:nth-of-type(1) {
  margin-right: 1rem;
}
.footer__social-media-link .icon {
  cursor: pointer;
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}
.footer__social-media-link .icon:hover {
  stroke: var(--primary-color);
}
.footer .line {
  background-color: var(--white-bg);
  height: 2px;
  width: 100%;
}
.footer .copyRigth-text {
  color: var(--white-bg);
  font-size: var(--smaller-font-size);
}

@media (min-width: 992px) {
  .footer {
    padding: 6rem 0 3rem;
  }
  .footer .wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__social-media {
    text-align: left;
  }
  .footer .copyRigth-text {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
.mems {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  margin-top: 4rem;
  width: 100%;
  max-width: 550px;
}
.mems::after, .mems::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
}
.mems::after {
  top: -2rem;
}
.mems::before {
  bottom: -2rem;
}
.mems .sort {
  border: 1px solid var(--lighter-font-color);
  -ms-flex-item-align: start;
      align-self: start;
  padding: 0.75rem 1.2rem;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.mems .sort:hover {
  background-color: var(--lighter-font-color);
  color: #fff;
}
.mems .sort-list {
  position: absolute;
  top: 50px;
  list-style: none;
  width: 200px;
  border: 1px solid var(--black-bg);
  background-color: var(--white-bg);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}
.mems .sort-list__item {
  padding: 1rem;
  font-size: var(--smaller-font-size);
  border-bottom: 1px solid var(--lighter-font-color);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}
.mems .sort-list__item:hover {
  background-color: #e6e6e6;
}
.mems .sort-list__item:last-child {
  border-bottom: none;
}
.mems .sort-list__item.active {
  font-weight: bold;
}
.mems .sort-list.active {
  display: block;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
}
.mems .mem {
  margin-bottom: 4rem;
  width: 100%;
  max-width: 550px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.mems .mem__img {
  width: 100%;
  max-height: 1000px;
  -o-object-fit: fill;
     object-fit: fill;
}
.mems .mem__info {
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  padding: 2rem 1.5rem;
}
.mems .mem__assessments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.mems .mem__assessment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.mems .mem__assessment-score, .mems .mem__comment {
  font-size: var(--font-size);
  font-weight: bold;
}
.mems .mem .like svg {
  stroke: var(--primary-color);
}
.mems .mem .dilike svg {
  stroke: var(--warning);
}
.mems .mem .add-comment svg {
  stroke: var(--secondary-color);
}
.mems .mem .like,
.mems .mem .dilike,
.mems .mem .add-comment,
.mems .mem .report-mem {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}
.mems .mem .like:hover,
.mems .mem .dislike:hover,
.mems .mem .add-comment:hover,
.mems .mem .report-mem:hover {
  opacity: 0.6;
}
.mems .mem__comment, .mems .mem__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.75rem;
}
.mems .mem__author {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: var(--smaller-font-size);
}
.mems .mem .report-mem {
  position: relative;
  color: var(--warning);
  font-weight: 500;
  text-align: right;
  font-size: var(--smaller-font-size);
}
.mems .mem .report-mem::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -0.25rem;
  width: 100%;
  max-width: 100px;
  height: 2px;
  background-color: var(--warning);
}

.comments {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-bg);
}
.comments__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  position: relative;
  margin: 0 auto;
  padding: 0 1.5rem;
  overflow-y: scroll;
  width: 100%;
  height: auto;
}
.comments__options-box {
  position: sticky;
  top: 0;
  z-index: 15;
  left: 0;
  padding: 2rem 1.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white-bg);
}
.comments .btn-sort-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  font-size: var(--comment-font);
  font-weight: 600;
}
.comments .btn-sort-comments .icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.comments .sort-comments-options {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem;
  width: 100vw;
  height: 210px;
  list-style: none;
  border-radius: 12px;
  background-color: var(--white-bg);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.comments .sort-comments-options__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
}
.comments .sort-comments-options__btn .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 32px;
  background-color: var(--dark-grey);
  border-radius: 60px;
  pointer-events: none;
}
.comments .sort-comments-options__btn .circle .inner-circle {
  display: block;
  border-radius: 60px;
  height: 14px;
  width: 14px;
  -webkit-box-shadow: 0 0 0 2px var(--black-bg);
          box-shadow: 0 0 0 2px var(--black-bg);
  background-color: transparent;
  border: 4px solid var(--dark-grey);
}
.comments .sort-comments-options__btn.currentSort .circle .inner-circle {
  background-color: var(--black-bg);
}
.comments .comment {
  display: grid;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  gap: 0.75rem;
  margin: 0 auto;
  font-size: var(--comment-font);
  max-width: 550px;
  width: 100%;
}
.comments .comment:nth-last-of-type(1) {
  margin-bottom: 13rem;
}
.comments .comment .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.comments .comment .box:nth-of-type(2) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.comments .comment__content {
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 12px;
}
.comments .comment__author {
  font-weight: 500;
}
.comments .comment__text {
  margin-top: 0.75rem;
}
.comments .comment__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}
.comments .comment__options button {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.comments .comment__options button:hover {
  opacity: 0.7;
}
.comments .comment__assessment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: var(--comment-font);
  font-weight: 500;
}
.comments .comment__assessment .icon {
  width: 20px;
}
.comments .comment .comment__report {
  color: var(--warning);
  font-weight: 600;
}
.comments .comment .comment__date-info {
  font-size: var(--comment-smaller-font);
}
.comments.show-sort-value .sort-comments-options {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.comments.show-sort-value .bg-shadow {
  display: block;
}
.comments.show-sort-value .btn-sort-comments .icon {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.comments .add-coment-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: var(--white-bg);
  border-top: 2px solid var(--dark-grey);
}
.comments .add-coment-container .addComment {
  padding: 1rem 3rem 1rem 1rem;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 12px;
  border: 2px solid transparent;
  font-size: var(--comment-font);
  background-color: var(--dark-grey);
  resize: none;
  outline: none;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.comments .add-coment-container .addComment:hover, .comments .add-coment-container .addComment:focus {
  border-color: var(--primary-color);
}
.comments .add-comment-btn {
  position: absolute;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.comments.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-shadow {
  display: none;
}
.body-shadow.show {
  display: block;
}

@media (min-width: 992px) {
  .comments {
    position: fixed;
    left: 50%;
    top: 50%;
    display: none;
    max-width: 700px;
    height: 95%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .comments__options-box {
    border-bottom: 2px solid var(--dark-grey);
  }
  .comments .add-coment-container .addComment {
    height: 80px;
  }
  .comments .sort-comments-options {
    position: absolute;
    top: 77px;
    right: 50%;
    width: auto;
    gap: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
            box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border: 2px solid var(--dark-grey);
  }
  .comments .sort-comments-options__btn {
    padding: 1rem;
    font-size: var(--comment-font);
    width: 170px;
    border-radius: 12px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .comments .sort-comments-options__btn:hover {
    background-color: hsl(0, 0%, 98%);
  }
  .comments.show-sort-value .bg-shadow {
    display: none;
  }
  .comments .comment:nth-of-type(1) {
    margin-top: 2rem;
  }
}
.report {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 15;
  display: none;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  max-width: 576px;
  background-color: var(--white-bg);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.report::-webkit-scrollbar {
  display: none;
}
.report__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  border-bottom: 2px solid var(--dark-grey);
}
.report__title {
  font-size: var(--font-size);
  color: var(--primary-font-color);
}
.report__content {
  padding: 2rem 1.5rem;
}
.report__subTitle {
  font-size: var(--font-size);
  font-weight: 600;
}
.report__description {
  margin-top: 1rem;
  font-size: var(--smaller-font-size);
}
.report__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}
.report__form-title {
  font-size: var(--smaller-font-size);
  font-weight: 600;
}
.report__text {
  padding: 1rem 3rem 1rem 1rem;
  height: 200px;
  border-radius: 12px;
  border: 2px solid transparent;
  font-size: var(--comment-font);
  background-color: var(--dark-grey);
  resize: none;
  outline: none;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.report__text:hover, .report__text:focus {
  border-color: var(--primary-color);
}
.report__error {
  visibility: hidden;
  font-size: var(--smaller-font-size);
  color: var(--warning);
  font-weight: 500;
}
.report__send-btn {
  padding: 1.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 12px;
}
.report.show {
  display: block;
}
.report.error .report__error {
  visibility: visible;
}
.report.error .report__text {
  border-color: var(--warning);
}

@media (min-width: 576px) {
  .report {
    max-width: 500px;
    max-height: 580px;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
}
:root {
  --scale-alert: 1;
}

.main {
  margin: 0 auto;
  padding: 6rem 0;
  min-height: 100vh;
  width: 100%;
  max-width: 680px;
  background-color: var(--grey);
}
.main .main-title {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  max-width: 550px;
  font-size: var(--main-title-size);
}
.main .main-title .other-color {
  color: var(--primary-color);
}
.main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside {
  display: none;
}

.showResponse {
  position: fixed;
  top: 50vh;
  left: 50vw;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 180px;
  width: 300px;
  border-radius: 12px;
  background-color: var(--white-bg);
  border: 4px solid var(--primary-color);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.showResponse__close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.showResponse__info {
  margin-top: 4.5rem;
  font-size: var(--smaller-font-size);
  font-weight: 700;
  text-align: center;
}
.showResponse.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 680px 3fr;
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
    width: 100%;
    max-width: 1300px;
  }
  .main {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .wrapper {
    width: 100%;
  }
  .aside {
    display: block;
    margin-top: 20rem;
  }
  .aside .best-users {
    padding: 2rem 3rem;
    background-color: var(--grey);
  }
  .aside .best-users .section-title {
    font-size: var(--font-size);
  }
  .aside .best-users__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    list-style: none;
  }
  .aside .best-users__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: var(--smaller-font-size);
    font-weight: 500;
  }
  .aside .best-users__item .number {
    font-weight: bold;
    font-size: var(--bigger-font-size);
  }
  .aside .best-users__item .profile-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 60%;
    border: 2px solid #ffd700;
  }
  .aside .best-users__item .profile-box .profile-photo {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .aside .best-users__item:nth-of-type(2) .profile-box {
    border-color: silver;
  }
  .aside .best-users__item:nth-of-type(3) .profile-box {
    border-color: #eb7600;
  }
  .aside .best-mems {
    margin-top: 2rem;
    padding: 2rem 3rem;
    background-color: var(--grey);
  }
  .aside .best-mems .section-title {
    font-size: var(--font-size);
  }
  .aside .best-mems__container {
    display: block;
    margin-top: 2rem;
  }
}/*# sourceMappingURL=home.css.map */