.nav {
	top: 0;
	position: sticky;
	z-index: 10;
	padding: 1.5rem 0;
	background-color: var(--black-bg);
	font-size: var(--font-size);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo-box {
		.logo-icon {
			width: 80px;
		}
	}
	.logo-name {
		position: relative;
		z-index: 10;
		color: white;
		font-weight: 600;
		.other-color {
			padding: 0.5rem;
			background-color: var(--primary-color);
			color: var(--black-bg);
		}
	}
	.ham-btn {
		position: relative;
		z-index: 10;
		padding: 0.75rem;
		cursor: pointer;
		&__box {
			position: relative;
			width: 3.4rem;
			height: 2.4rem;
			pointer-events: none;
		}
		&__inner {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: var(--white-bg);
			transform: translateY(-50%);
			transition: background-color 0.1s 0.2s ease-in-out,
				transform 0.2s 0.2s ease-in-out;

			&::after,
			&::before {
				content: "";
				position: absolute;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: var(--white-bg);
				transition: transform 0.2s 0.2s ease-in-out;
			}
			&::after {
				top: -1rem;
			}
			&::before {
				top: 1rem;
			}
		}
	}
	.ham-btn.active {
		.ham-btn__inner {
			background-color: transparent;
			&::after {
				transform: translateY(1rem) rotate(45deg);
			}
			&::before {
				transform: translateY(-1rem) rotate(-45deg);
			}
		}
	}
	&__items {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;
		width: 100vw;
		padding: 20rem 4rem;
		background-color: var(--black-bg);
		height: 100vh;
		transform: translateX(-100%);
		transition: transform 0.3s;
	}
	&__item {
		position: relative;
		color: var(--white-bg);
		font-size: var(--nav-item-font-size);
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: -5px;
			width: 100%;
			height: 2px;
			background-color: var(--primary-color);
			transform-origin: center;
			transition: transform 0.3s;
			transform: scaleX(0);
		}
	}
	&__item:hover::before {
		transform: scaleX(1);
	}
	.button-box {
		display: flex;
		gap: 0.75rem;
		margin-top: 4rem;
	}
	&__button {
		padding: 1.5rem 0;
		width: 150px;
		border-radius: 4px;
		font-weight: 500;

		font-size: var(--smaller-font-size);
		text-align: center;
	}
	&__items.active {
		transform: translateX(0);
	}
}
@media (min-width: 992px) {
	.nav {
		.ham-btn {
			display: none;
		}
		&__items {
			position: static;
			flex-direction: row;
			margin: 0;
			padding: 0;
			height: auto;
			width: auto;
			transform: translateX(0);
		}
		&__item {
			font-size: var(--font-size);
		}
		.button-box {
			margin: 0;
			gap: 1.75rem;
		}
		&__button {
			padding: 1.25rem 0;
			width: 140px;
		}
	}
}
@media (min-width: 1400px) {
	.nav {
		&__items {
			gap: 3rem;
		}
	}
}
